.flex{
    display:flex;
    flex-direction: row;
    width:100%;
}

img {
    width: 550px;
    height: 550px;
    
}

.textos{
    padding-top: 50px;
    padding-left:50px;
}

.precio{
    font-size: 35px;
}